body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(51, 51, 56);
}

#gallery {
  display: grid;
  place-items: center;
  width: 60%;
}



.carousel-item {
   grid-row: 1/2;
   grid-column: 1/2;
   display: grid;

  width: 100%;
 
  opacity: 0;
  transition: opacity 2s ease;
}

.carousel-item img {
   grid-row: 1/2;
   grid-column: 1/2;
  width: 100%;
 aspect-ratio: 16/9;
  object-fit: cover;
}

.carousel-item p {
 grid-row: 1/2;
   grid-column: 1/2;
   align-self: end;
  font-size: 1vw;
  margin: 0;
  padding: 0.5vw;

  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(248, 248, 248);
}

.carousel-item h2 {
 grid-row: 1/2;
   grid-column: 1/2;
   align-self: start;
  font-size: 1.5vw;
  margin: 0;
  padding: 0.5vw;

/*   background-color: rgba(0, 0, 0, 0.5); */
  background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0) 40%);
  color: rgb(248, 248, 248);
}


.active {
  opacity: 1;
}

/* fælles for pilknapperne */
.gallery-arrow {
  grid-row: 1/2;
  grid-column: 1/2;
font-size: 2vw;
  color: rgb(248, 248, 248);
  background-color:rgba(0, 0, 0, 0.5);
  padding: 1vw 0.5vw ;
  cursor: pointer;
  z-index: 100;
}

/* Skub venstre pil til den venstre kant af grid-cellen */
#arrow-left {
  justify-self: start;
}

/* Skub højre pil til den højre kant af grid-cellen */
#arrow-right {
  justify-self: end;
}